/* Basic tags */
body {
font-family: 'Bitstream Vera Sans', Arial, Helvetica, 'Luxi Sans', Verdana, Sans-Serif;
margin-top: 0px;
margin-left: 0px;
}

a img {
border: 0px;
}

table {
font-family: "Bitstream Vera Serif", serif;
border-collapse: collapse;
}

th {
background-color: #e3ffc3; /* ~ lite green */
text-align: left;
}

tr.even {
background-color: #dddddd; /* light grey */
}

.left {
margin-right: 20px;
padding: 0px;
float: left;
}

.right {
padding-left: 5px;
float: right;
}

.content {
font-family: "Bitstream Vera Serif", serif;
margin-left: 10px;
margin-right: 10px;
}

.step {
margin-bottom: 0.5em;
}

.nobullet {
list-style: none;
margin-bottom: 0.5em;
}

/* Header */
.hdr {
max-width: 100%;
height: 53px;
text-align: left;
background-color: #e3ffc3; /* ~ lite green */
border-bottom: 1px solid #90d84b; /* ~ mid green */
}

.logo {
position: absolute;
top: 6px;
left: 10px;
border: 0px;
z-index: 10;
}

.hdrtitle {
position: relative;
margin-top: 13px;
margin-left: 78px;
color: #0000a0; /* dark blue */
font-size: 1.5em;
float: left;
z-index: 12;
}

.hdrsearch {
color: #0000a0; /* dark blue */
padding: 3px;
float: right;
}

.abovead {
font-family: "Bitstream Vera Serif", serif;
margin-bottom: 10px;
margin-left: 10px;
}

/* Documentation and more */
.warning {
font-family: "Bitstream Vera Sans", sans-serif;
background: #f5a9a9; /* Pastel Red */
border: 1px solid #FF0000; /* Red */
padding-left: 10px;
padding-right: 10px;
}

.hangwarning {
text-indent: -6.5em;
margin-left: 6.5em;
}

.caution {
font-family: "Bitstream Vera Sans", sans-serif;
background: #f0e68c; /* Khaki */
border: 1px solid #bdb76b; /* DarkKhaki */
padding-left: 10px;
padding-right: 10px;
}

.hangcaution {
text-indent: -6em;
margin-left: 6em;
}

.tip {
font-family: "Bitstream Vera Sans", sans-serif;
background: #98fb98; /* PaleGreen */
border: 1px solid #00fa9a; /* MediumSpringGreen */
padding-left: 10px;
padding-right: 10px;
}

.hangtip {
text-indent: -3em;
margin-left: 3em;
}

.note {
font-family: "Bitstream Vera Sans", sans-serif;
background: #a9d0f5; /* Light Blue */
border: 1px solid #0080ff; /* Medium Blue */
padding-left: 10px;
padding-right: 10px;
}

.hangnote {
text-indent: -4em;
margin-left: 4em;
}

/* Footer */
.bottomad {
font-family: "Bitstream Vera Serif", serif;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
padding: 5px 0px 5px 0px;
color: #aaaaaa;
border-top: 1px solid #dddddd;
background-color: #fafafa;
}

.ftr {
margin-right: 10px;
text-align: center;
font-size: small;
vertical-align:	bottom;
clear: both;
margin-top: 10px;
padding: 5px 0px 5px 0px;
color: #aaaaaa;
border-top: 1px solid #dddddd;
background-color: #fafafa;
}

/* News page */
.newshdr {
font-size: larger;
background-color: #e3ffc3; /* ~ lite green */
border-left: 2px solid #e3ffc3; /* ~ lite green */
border-top: 1px solid #90d84b; /* ~ mid green */
border-bottom: 1px solid #90d84b; /* ~ mid green */
margin-top: 20px;
margin-left: 0px;
}

.newsbody {
background-color: #fafafa;
border: 2px solid #fafafa;
margin-left: 0px;
margin-bottom: 20px;
}

/* Latest release upper right */
.rightbox {
margin-right: 10px;
max-width: 125px;
font-size: small;
float: right;
background-color: #fafafa; /* very light grey */
}

.rightbox ul {
margin-left: 10px;
padding-left: 10px;
}

/* Hover Menu */
.hovermenu ul{
font-family: "Bitstream Vera Sans", sans-serif;
padding-left: 0;
margin-left: 10px;
margin-top: 10px;
height: 20px;
}

.hovermenu ul li{
list-style: none;
display: inline;
}

.hovermenu ul li a{
padding: 2px 0.75em;
text-decoration: none;
float: left;
color: blue;
background-color: #e3ffc3; /* ~ lite green */
border: 1px solid #90d84b; /* ~ mid green */
}

.hovermenu ul li a:hover{
background-color: #90d84b; /* ~ mid green */
border-style: outset;
}

html>body .hovermenu ul li a:active{ /* Apply mousedown effect only to NON IE browsers */
border-style: inset;
}
